@font-face{
    font-family:  "Cooper Std Black";
    src: url("fonts/CooperBlackStd.otd");
}
body{
    background: radial-gradient(at top, rgb(230, 205, 159), rgb(75, 23, 23));
    background-attachment: fixed    
}
.bg-light {
    background-color: #f8f9fa3b!important;
}
.bg-gradiente{
    background: linear-gradient(-45deg,red,yellow);
}
h1,h2,h3,h4{
    font-family:  "Cooper Std Black";
    color: #FF3F00;
    
}
h1{
    -webkit-text-stroke: 2px white;
    color: red;
}
.btn-ubala{
    position:absolute;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(rgb(68, 0, 255),rgb(31, 14, 129)), radial-gradient(orange, white);
    background-origin: border-box;
    background-clip: content-box,border-box;
    color: white
}
.btn-ubala:hover{
    text-decoration: none;
    color: rgb(32, 24, 141);
}
.btn-ubala span{
    padding: 7px 40px;
    display: block
}
.form-control{
    border-color:rgb(0, 255, 115)
}

.card {background-color: rgb(245, 216, 216);}
.card-img-top {max-width: 50px;}
.fincas{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content:space-around; /* derecha izquier */
    align-items:center; /* arriba abajo */
    flex-wrap; /* mantener el tamaño original  */}
.fincas > div{ 
    width: 300px;
    height: 200px;
    }
.formulario {margin-top: 150px;}
.whatsapp{
    position: fixed;
        bottom: 34px;
        right: 3px;
        padding: 2px 35px 2px 5px;
        background-image: url(&quot;whatsapp_logo.webp&quot;);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center right;
        background-color: #1a9f0f;
        color: white;
        border-radius: 9px;
        text-decoration: none;
        font-size: 13px;
        line-height: 14px;
        z-index: 999;
}
